
body {
    font-family: tahoma;
}
ol, ul {
    list-style: outside none none;
}
#container {
    margin: 0 auto;
    width: 60rem;
}
.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
}
.tags li.tagAdd, .tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin: 0.2em;
}
.tags li.addedTag {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
    margin: 0.2em;
}
.tags input, li.addedTag {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}
.tags input{
    font-size : 23px;
    padding: 0;
}
input:focus{
    outline: none;
}
span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}
span.tagRemove:hover {
    color: #222222;
}
P, H1 {
    text-align: center;
}
p {
    color: #ccc;
}
h1 {
    color: #6b6b6b;
    font-size: 1.5em;
}
